<div class="row">
    <div class="col-md-4 col-md-offset-3">
        <div class="text-center">
            <h1>Ajouter une adresse</h1>
            <hr><br>
            <form (ngSubmit)="onSubmitting()" novalidate>
                <div class="form-group">
                    <label for="userSurname">Nom</label>
                    <input type="text" class="form-control text-center" id="name" placeholder="Ecrire nom" [(ngModel)]="userSurname" name="login" required>
                </div>
                <div class="form-group">
                    <label for="userName">Prenom</label>
                    <input type="text" class="form-control text-center" id="login" placeholder="Ecrire prénom" [(ngModel)]="userName" name="login" required>
                </div>
                <div class="form-group">
                    <label for="cityName">Ville</label>
                    <input type="text" class="form-control text-center" id="login" placeholder="Ecrire ville" [(ngModel)]="cityName" name="login" required>
                </div>
                <div class="form-group">
                    <label for="name">Nom du batiment</label>
                    <input type="text" class="form-control text-center" id="password" placeholder="Ecrire nom du batiment" [(ngModel)]="name" name="password" required>
                </div>
                <div class="form-group">
                    <label for="streetNumber">Numéro de rue</label>
                    <input type="text" class="form-control text-center" id="password" placeholder="Ecrire numéro de rue" [(ngModel)]="streetNumber" name="password" required>
                </div>
                <div class="form-group">
                    <label for="streetName">Nom de rue</label>
                    <input type="text" class="form-control text-center" id="password" placeholder="Ecrire nom de rue" [(ngModel)]="streetName" name="password" required>
                </div>
                <button type="cancel" class="btn btn-default" (click)="goBack()">Retour</button>
                <button type="submit" class="btn btn-primary" (click)="add()">Ajouter l'adresse</button>
            </form>
        </div>
    </div>
</div>