<div class="row">
    <div>
        <h3>Nos dernières sorties</h3>
        <ul class="product-list">
            <li *ngFor="let product of products | async" class="product-container">
                <div class="row">
                    <div>
                        <h4>
                            <span class="text--bold js-product-name">{{product.name}}</span>
                            <small class="product_price js-product-price">{{product.price}} euros</small>
                        </h4>
                        <p class="js-product-desc">{{product.description}}</p>
                        <p>
                            <button type="button" class="btn btn-primary js-btn-add" (click)="addProductToCart(product, 1)">Acheter</button>
                            <button type="button" class="btn btn-primary js-btn-remove" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, 1)">Enlever</button>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <app-cart></app-cart>
    </div>
</div>