<h3>Nos dernières sorties</h3>
<ul class="product-list">
    <li *ngFor="let product of products | async" class="product-container">
        <a routerLink="/detail/{{product.id}}">
            {{product.name}}
        </a> {{product.price}} €
        <p>
            <button type="button" class="btn btn-primary js-btn-add" (click)="addProductToCart(product, 1)">Acheter</button>
            <button type="button" class="btn btn-primary js-btn-remove" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, 1)">Enlever</button>
            <button type="button" class="btn btn-primary js-btn-remove" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, productInCart(product))">Enlever tout</button>
        </p>
    </li>
</ul>