<div>
    <label class="control-label">Selectionnez votre adresse :</label>
    <div *ngFor="let address of addresses | async" class="address-container">
        <div class="radio">
            <label><input type="radio" name="optradio">{{address.cityName}} {{address.name}} {{address.streetNumber}} {{address.streetName}}</label>
        </div>
    </div>
</div>
<div><button type="button" class="btn btn-secondary" routerLink="../addAddress">Ajouter une adresse</button></div>
<button type="button" class="btn btn-primary" routerLink="../cart">Retour</button>
<button type="button" class="btn btn-primary" routerLink="../order-confirmed">Payer</button>