<div>
    <label class="control-label">Selectionnez votre adresse de facturation:</label>
    <div *ngFor="let address of addresses | async; let i = index" class="address-container">
        <div class="radio">
            <label><input type="radio" name="optradio" [checked]="i == 0">{{address.cityName}} {{address.name}} {{address.streetNumber}} {{address.streetName}}</label>
        </div>
    </div>
</div>
<div><button type="button" class="btn btn-secondary" routerLink="../add-address">Ajouter une adresse</button></div>
<button type="button" class="btn btn-primary" routerLink="../delivery">Retour</button>
<button type="button" class="btn btn-primary" routerLink="../order-confirmed">Payer</button>