<small class="pull-right">
	<br>
	<span *ngIf="isLoggedIn">
		<a [routerLink]="['/logout']" [queryParams]="{ returnUrl : url }"><input type="image" src="/assets/logout-icon.png" style="width:50px;" title="Se deconnecter" /></a>
		<a [routerLink]="['/logout']" [queryParams]="{ returnUrl : url }">Se deconnecter</a>
	</span>
	<span *ngIf="!isLoggedIn">
		<a [routerLink]="['/login']" [queryParams]="{ returnUrl : url }"><input type="image" src="/assets/login-icon.png" style="width:50px;" title="Se connecter" /></a>
		<a [routerLink]="['/login']" [queryParams]="{ returnUrl : url }">Se connecter</a>
	</span>
</small>